.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(to right, #de6262, #ffb88c);
}
.book {
  width: 190px;
  padding: 25px;
  border-style: ridge; 
  justify-content: space-evenly;
  
}

.bookshelf {
  background: linear-gradient(to right, #de6262, #ffb88c);
  font-family: Courier, monospace;
  font-style: italic;
  color: white;
}

.nav-bar {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  justify-content: space-around;
   
}

.search-bar {
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  padding-left: 100px;
  

}

.nav-item {
  padding: 25px;
  color: white; 
  font-family: Courier, monospace;
  font-style: italic;
  align-content: space-between;
}

.log-in-page{
  align-content: center;
  justify-content: space-between;
  background: linear-gradient(to right, #de6262, #ffb88c);
}

.footer {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-dark.png);
  color: white;
  font-family: Courier, monospace;
  font-style: italic;
  font-size: smaller;
  height: 20px
}

.book-backside {
  width: 190px;
  padding: 25px;
  border-style: ridge; 
  justify-content: space-evenly;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.bookshelf-title {
  font-weight: 700;
  border-color:whitesmoke ;
}

.nav-image {
  height: 50px;
  width: 50px;
  float: bottom;
  border-radius: 10px;
}